*.o
*.so
acs/
tpmutils/Debug/
tpmutils/activatecredential/Debug/
tpmutils/certify/Debug/
tpmutils/certifycreation/Debug/
tpmutils/changeeps/Debug/
tpmutils/changepps/Debug/
tpmutils/clear/Debug/
tpmutils/clearcontrol/Debug/
tpmutils/clockrateadjust/Debug/
tpmutils/clockset/Debug/
tpmutils/commit/Debug/
tpmutils/contextload/Debug/
tpmutils/contextsave/Debug/
tpmutils/create/Debug/
tpmutils/createek/Debug/
tpmutils/createekcert/Debug/
tpmutils/createloaded/Debug/
tpmutils/createprimary/Debug/
tpmutils/dictionaryattacklockreset/Debug/
tpmutils/dictionaryattackparameters/Debug/
tpmutils/duplicate/Debug/
tpmutils/eccparameters/Debug/
tpmutils/ecephemeral/Debug/
tpmutils/encryptdecrypt/Debug/
tpmutils/eventextend/Debug/
tpmutils/eventsequencecomplete/Debug/
tpmutils/evictcontrol/Debug/
tpmutils/flushcontext/Debug/
tpmutils/getcapability/Debug/
tpmutils/getcommandauditdigest/Debug/
tpmutils/getcryptolibrary/Debug/
tpmutils/getrandom/Debug/
tpmutils/getsessionauditdigest/Debug/
tpmutils/gettestresult/Debug/
tpmutils/gettime/Debug/
tpmutils/hash/Debug/
tpmutils/hashsequencestart/Debug/
tpmutils/hierarchychangeauth/Debug/
tpmutils/hierarchycontrol/Debug/
tpmutils/hmac/Debug/
tpmutils/hmacstart/Debug/
tpmutils/import/Debug/
tpmutils/importpem/Debug/
tpmutils/load/Debug/
tpmutils/loadexternal/Debug/
tpmutils/makecredential/Debug/
tpmutils/nvcertify/Debug/
tpmutils/nvchangeauth/Debug/
tpmutils/nvdefinespace/Debug/
tpmutils/nvextend/Debug/
tpmutils/nvglobalwritelock/Debug/
tpmutils/nvincrement/Debug/
tpmutils/nvread/Debug/
tpmutils/nvreadlock/Debug/
tpmutils/nvreadpublic/Debug/
tpmutils/nvsetbits/Debug/
tpmutils/nvundefinespace/Debug/
tpmutils/nvundefinespacespecial/Debug/
tpmutils/nvwrite/Debug/
tpmutils/nvwritelock/Debug/
tpmutils/objectchangeauth/Debug/
tpmutils/pcrallocate/Debug/
tpmutils/pcrevent/Debug/
tpmutils/pcrextend/Debug/
tpmutils/pcrread/Debug/
tpmutils/pcrreset/Debug/
tpmutils/policyauthorize/Debug/
tpmutils/policyauthorizenv/Debug/
tpmutils/policyauthvalue/Debug/
tpmutils/policycommandcode/Debug/
tpmutils/policycountertimer/Debug/
tpmutils/policycphash/Debug/
tpmutils/policyduplicationselect/Debug/
tpmutils/policygetdigest/Debug/
tpmutils/policymaker/Debug/
tpmutils/policymakerpcr/Debug/
tpmutils/policynamehash/Debug/
tpmutils/policynv/Debug/
tpmutils/policynvwritten/Debug/
tpmutils/policyor/Debug/
tpmutils/policypassword/Debug/
tpmutils/policypcr/Debug/
tpmutils/policyrestart/Debug/
tpmutils/policysecret/Debug/
tpmutils/policysigned/Debug/
tpmutils/policytemplate/Debug/
tpmutils/policyticket/Debug/
tpmutils/powerup/Debug/
tpmutils/publicname/Debug/
tpmutils/quote/Debug/
tpmutils/readclock/Debug/
tpmutils/readpublic/Debug/
tpmutils/returncode/Debug/
tpmutils/rewrap/Debug/
tpmutils/rsadecrypt/Debug/
tpmutils/rsaencrypt/Debug/
tpmutils/sequencecomplete/Debug/
tpmutils/sequenceupdate/Debug/
tpmutils/setprimarypolicy/Debug/
tpmutils/shutdown/Debug/
tpmutils/sign/Debug/
tpmutils/signapp/Debug/
tpmutils/startauthsession/Debug/
tpmutils/startup/Debug/
tpmutils/stirrandom/Debug/
tpmutils/timepacket/Debug/
tpmutils/tpm2pem/Debug/
tpmutils/tpmpublic2eccpoint/Debug/
tpmutils/tss/Debug/
tpmutils/unseal/Debug/
tpmutils/verifysignature/Debug/
tpmutils/writeapp/Debug/
tpmutils/zgen2phase/Debug/
.gitignore
tpmutils/.vs/
.vs
utils/*.o
utils/h*.bin
utils/nvp*.bin
utils/activatecredential
utils/certify
utils/certifycreation
utils/certifyx509
utils/changeeps
utils/changepps
utils/clear
utils/clearcontrol
utils/clockrateadjust
utils/clockset
utils/commit
utils/contextload
utils/contextsave
utils/create
utils/createek
utils/createekcert
utils/createloaded
utils/createprimary
utils/dictionaryattacklockreset
utils/dictionaryattackparameters
utils/duplicate
utils/eccparameters
utils/ecephemeral
utils/encryptdecrypt
utils/eventextend
utils/eventsequencecomplete
utils/evictcontrol
utils/flushcontext
utils/getcapability
utils/getcommandauditdigest
utils/getrandom
utils/getsessionauditdigest
utils/gettestresult
utils/gettime
utils/hash
utils/hashsequencestart
utils/hierarchychangeauth
utils/hierarchycontrol
utils/hmac
utils/hmacstart
utils/imaextend
utils/import
utils/importpem
utils/libtss.so
utils/libtss.so.0
utils/libtss.so.0.1
utils/load
utils/loadexternal
utils/makecredential
utils/ntc2getconfig
utils/ntc2lockconfig
utils/ntc2preconfig
utils/nvcertify
utils/nvchangeauth
utils/nvdefinespace
utils/nvextend
utils/nvglobalwritelock
utils/nvincrement
utils/nvread
utils/nvreadlock
utils/nvreadpublic
utils/nvsetbits
utils/nvundefinespace
utils/nvundefinespacespecial
utils/nvwrite
utils/nvwritelock
utils/objectchangeauth
utils/pcrallocate
utils/pcrevent
utils/pcrextend
utils/pcrread
utils/pcrreset
utils/policyauthorize
utils/policyauthorizenv
utils/policyauthvalue
utils/policycommandcode
utils/policycountertimer
utils/policycphash
utils/policyduplicationselect
utils/policygetdigest
utils/policymaker
utils/policymakerpcr
utils/policynamehash
utils/policynv
utils/policynvwritten
utils/policyor
utils/policypassword
utils/policypcr
utils/policyrestart
utils/policysecret
utils/policysigned
utils/policytemplate
utils/policyticket
utils/powerup
utils/printattr
utils/publicname
utils/quote
utils/readclock
utils/readpublic
utils/returncode
utils/rewrap
utils/rsadecrypt
utils/rsaencrypt
utils/sequencecomplete
utils/sequenceupdate
utils/setcommandcodeauditstatus
utils/setprimarypolicy
utils/shutdown
utils/sign
utils/signapp
utils/startauthsession
utils/startup
utils/stirrandom
utils/timepacket
utils/tpmcmd
utils/tpm2pem
utils/tpmpublic2eccpoint
utils/unseal
utils/verifysignature
utils/writeapp
utils/zgen2phase
utils/libibmtss.so
utils/libibmtss.so.0
utils/libibmtss.so.0.1
utils/libibmtssutils.so
utils/libibmtssutils.so.0
utils/libibmtssutils.so.0.1
utils/libibmtss.so.1
utils/libibmtss.so.1.1
utils/libibmtssutils.so.1
utils/libibmtssutils.so.1.1
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
utils/.dirstamp
utils/.deps/
utils/Makefile
utils/Makefile.in
utils12/.deps/
utils12/Makefile
utils12/Makefile.in
