*.o
*.so
acs/

tpmutils/Debug/
tpmutils/activatecredential/Debug/
tpmutils/certify/Debug/
tpmutils/certifycreation/Debug/
tpmutils/certifyx509/Debug/
tpmutils/changeeps/Debug/
tpmutils/changepps/Debug/
tpmutils/clear/Debug/
tpmutils/clearcontrol/Debug/
tpmutils/clockrateadjust/Debug/
tpmutils/clockset/Debug/
tpmutils/commit/Debug/
tpmutils/contextload/Debug/
tpmutils/contextsave/Debug/
tpmutils/create/Debug/
tpmutils/createek/Debug/
tpmutils/createekcert/Debug/
tpmutils/createloaded/Debug/
tpmutils/createprimary/Debug/
tpmutils/dictionaryattacklockreset/Debug/
tpmutils/dictionaryattackparameters/Debug/
tpmutils/duplicate/Debug/
tpmutils/eccparameters/Debug/
tpmutils/ecephemeral/Debug/
tpmutils/encryptdecrypt/Debug/
tpmutils/eventextend/Debug/
tpmutils/eventsequencecomplete/Debug/
tpmutils/evictcontrol/Debug/
tpmutils/flushcontext/Debug/
tpmutils/getcapability/Debug/
tpmutils/getcommandauditdigest/Debug/
tpmutils/getcryptolibrary/Debug/
tpmutils/getrandom/Debug/
tpmutils/getsessionauditdigest/Debug/
tpmutils/gettestresult/Debug/
tpmutils/gettime/Debug/
tpmutils/hash/Debug/
tpmutils/hashsequencestart/Debug/
tpmutils/hierarchychangeauth/Debug/
tpmutils/hierarchycontrol/Debug/
tpmutils/hmac/Debug/
tpmutils/hmacstart/Debug/
tpmutils/imaextend/Debug/
tpmutils/import/Debug/
tpmutils/importpem/Debug/
tpmutils/load/Debug/
tpmutils/loadexternal/Debug/
tpmutils/makecredential/Debug/
tpmutils/nvcertify/Debug/
tpmutils/nvchangeauth/Debug/
tpmutils/nvdefinespace/Debug/
tpmutils/nvextend/Debug/
tpmutils/nvglobalwritelock/Debug/
tpmutils/nvincrement/Debug/
tpmutils/nvread/Debug/
tpmutils/nvreadlock/Debug/
tpmutils/nvreadpublic/Debug/
tpmutils/nvsetbits/Debug/
tpmutils/nvundefinespace/Debug/
tpmutils/nvundefinespacespecial/Debug/
tpmutils/nvwrite/Debug/
tpmutils/nvwritelock/Debug/
tpmutils/objectchangeauth/Debug/
tpmutils/pcrallocate/Debug/
tpmutils/pcrevent/Debug/
tpmutils/pcrextend/Debug/
tpmutils/pcrread/Debug/
tpmutils/pcrreset/Debug/
tpmutils/policyauthorize/Debug/
tpmutils/policyauthorizenv/Debug/
tpmutils/policyauthvalue/Debug/
tpmutils/policycommandcode/Debug/
tpmutils/policycountertimer/Debug/
tpmutils/policycphash/Debug/
tpmutils/policyduplicationselect/Debug/
tpmutils/policygetdigest/Debug/
tpmutils/policymaker/Debug/
tpmutils/policymakerpcr/Debug/
tpmutils/policynamehash/Debug/
tpmutils/policynv/Debug/
tpmutils/policynvwritten/Debug/
tpmutils/policyor/Debug/
tpmutils/policypassword/Debug/
tpmutils/policypcr/Debug/
tpmutils/policyrestart/Debug/
tpmutils/policysecret/Debug/
tpmutils/policysigned/Debug/
tpmutils/policytemplate/Debug/
tpmutils/policyticket/Debug/
tpmutils/powerup/Debug/
tpmutils/printattr/Debug/
tpmutils/publicname/Debug/
tpmutils/quote/Debug/
tpmutils/readclock/Debug/
tpmutils/readpublic/Debug/
tpmutils/returncode/Debug/
tpmutils/rewrap/Debug/
tpmutils/rsadecrypt/Debug/
tpmutils/rsaencrypt/Debug/
tpmutils/sequencecomplete/Debug/
tpmutils/sequenceupdate/Debug/
tpmutils/setcommandcodeauditstatus/Debug/
tpmutils/setprimarypolicy/Debug/
tpmutils/shutdown/Debug/
tpmutils/sign/Debug/
tpmutils/signapp/Debug/
tpmutils/startauthsession/Debug/
tpmutils/startup/Debug/
tpmutils/stirrandom/Debug/
tpmutils/timepacket/Debug/
tpmutils/tpm2pem/Debug/
tpmutils/tpmcmd/Debug/
tpmutils/tpmproxy/Debug/
tpmutils/tpmpublic2eccpoint/Debug/
tpmutils/tss/Debug/
tpmutils/unseal/Debug/
tpmutils/verifysignature/Debug/
tpmutils/writeapp/Debug/
tpmutils/zgen2phase/Debug/

tpmutils/Release/
tpmutils/activatecredential/Release/
tpmutils/certify/Release/
tpmutils/certifycreation/Release/
tpmutils/certifyx509/Release/
tpmutils/changeeps/Release/
tpmutils/changepps/Release/
tpmutils/clear/Release/
tpmutils/clearcontrol/Release/
tpmutils/clockrateadjust/Release/
tpmutils/clockset/Release/
tpmutils/commit/Release/
tpmutils/contextload/Release/
tpmutils/contextsave/Release/
tpmutils/create/Release/
tpmutils/createek/Release/
tpmutils/createekcert/Release/
tpmutils/createloaded/Release/
tpmutils/createprimary/Release/
tpmutils/dictionaryattacklockreset/Release/
tpmutils/dictionaryattackparameters/Release/
tpmutils/duplicate/Release/
tpmutils/eccparameters/Release/
tpmutils/ecephemeral/Release/
tpmutils/encryptdecrypt/Release/
tpmutils/eventextend/Release/
tpmutils/eventsequencecomplete/Release/
tpmutils/evictcontrol/Release/
tpmutils/flushcontext/Release/
tpmutils/getcapability/Release/
tpmutils/getcommandauditdigest/Release/
tpmutils/getcryptolibrary/Release/
tpmutils/getrandom/Release/
tpmutils/getsessionauditdigest/Release/
tpmutils/gettestresult/Release/
tpmutils/gettime/Release/
tpmutils/hash/Release/
tpmutils/hashsequencestart/Release/
tpmutils/hierarchychangeauth/Release/
tpmutils/hierarchycontrol/Release/
tpmutils/hmac/Release/
tpmutils/hmacstart/Release/
tpmutils/imaextend/Release/
tpmutils/import/Release/
tpmutils/importpem/Release/
tpmutils/load/Release/
tpmutils/loadexternal/Release/
tpmutils/makecredential/Release/
tpmutils/nvcertify/Release/
tpmutils/nvchangeauth/Release/
tpmutils/nvdefinespace/Release/
tpmutils/nvextend/Release/
tpmutils/nvglobalwritelock/Release/
tpmutils/nvincrement/Release/
tpmutils/nvread/Release/
tpmutils/nvreadlock/Release/
tpmutils/nvreadpublic/Release/
tpmutils/nvsetbits/Release/
tpmutils/nvundefinespace/Release/
tpmutils/nvundefinespacespecial/Release/
tpmutils/nvwrite/Release/
tpmutils/nvwritelock/Release/
tpmutils/objectchangeauth/Release/
tpmutils/pcrallocate/Release/
tpmutils/pcrevent/Release/
tpmutils/pcrextend/Release/
tpmutils/pcrread/Release/
tpmutils/pcrreset/Release/
tpmutils/policyauthorize/Release/
tpmutils/policyauthorizenv/Release/
tpmutils/policyauthvalue/Release/
tpmutils/policycommandcode/Release/
tpmutils/policycountertimer/Release/
tpmutils/policycphash/Release/
tpmutils/policyduplicationselect/Release/
tpmutils/policygetdigest/Release/
tpmutils/policymaker/Release/
tpmutils/policymakerpcr/Release/
tpmutils/policynamehash/Release/
tpmutils/policynv/Release/
tpmutils/policynvwritten/Release/
tpmutils/policyor/Release/
tpmutils/policypassword/Release/
tpmutils/policypcr/Release/
tpmutils/policyrestart/Release/
tpmutils/policysecret/Release/
tpmutils/policysigned/Release/
tpmutils/policytemplate/Release/
tpmutils/policyticket/Release/
tpmutils/powerup/Release/
tpmutils/printattr/Release/
tpmutils/publicname/Release/
tpmutils/quote/Release/
tpmutils/readclock/Release/
tpmutils/readpublic/Release/
tpmutils/returncode/Release/
tpmutils/rewrap/Release/
tpmutils/rsadecrypt/Release/
tpmutils/rsaencrypt/Release/
tpmutils/sequencecomplete/Release/
tpmutils/sequenceupdate/Release/
tpmutils/setcommandcodeauditstatus/Release/
tpmutils/setprimarypolicy/Release/
tpmutils/shutdown/Release/
tpmutils/sign/Release/
tpmutils/signapp/Release/
tpmutils/startauthsession/Release/
tpmutils/startup/Release/
tpmutils/stirrandom/Release/
tpmutils/timepacket/Release/
tpmutils/tpm2pem/Release/
tpmutils/tpmcmd/Release/
tpmutils/tpmproxy/Release/
tpmutils/tpmpublic2eccpoint/Release/
tpmutils/tss/Release/
tpmutils/unseal/Release/
tpmutils/verifysignature/Release/
tpmutils/writeapp/Release/
tpmutils/zgen2phase/Release/

tpmutils/x64/Debug/
tpmutils/activatecredential/x64/Debug/
tpmutils/certify/x64/Debug/
tpmutils/certifycreation/x64/Debug/
tpmutils/certifyx509/x64/Debug/
tpmutils/changeeps/x64/Debug/
tpmutils/changepps/x64/Debug/
tpmutils/clear/x64/Debug/
tpmutils/clearcontrol/x64/Debug/
tpmutils/clockrateadjust/x64/Debug/
tpmutils/clockset/x64/Debug/
tpmutils/commit/x64/Debug/
tpmutils/contextload/x64/Debug/
tpmutils/contextsave/x64/Debug/
tpmutils/create/x64/Debug/
tpmutils/createek/x64/Debug/
tpmutils/createekcert/x64/Debug/
tpmutils/createloaded/x64/Debug/
tpmutils/createprimary/x64/Debug/
tpmutils/dictionaryattacklockreset/x64/Debug/
tpmutils/dictionaryattackparameters/x64/Debug/
tpmutils/duplicate/x64/Debug/
tpmutils/eccparameters/x64/Debug/
tpmutils/ecephemeral/x64/Debug/
tpmutils/encryptdecrypt/x64/Debug/
tpmutils/eventextend/x64/Debug/
tpmutils/eventsequencecomplete/x64/Debug/
tpmutils/evictcontrol/x64/Debug/
tpmutils/flushcontext/x64/Debug/
tpmutils/getcapability/x64/Debug/
tpmutils/getcommandauditdigest/x64/Debug/
tpmutils/getcryptolibrary/x64/Debug/
tpmutils/getrandom/x64/Debug/
tpmutils/getsessionauditdigest/x64/Debug/
tpmutils/gettestresult/x64/Debug/
tpmutils/gettime/x64/Debug/
tpmutils/hash/x64/Debug/
tpmutils/hashsequencestart/x64/Debug/
tpmutils/hierarchychangeauth/x64/Debug/
tpmutils/hierarchycontrol/x64/Debug/
tpmutils/hmac/x64/Debug/
tpmutils/hmacstart/x64/Debug/
tpmutils/imaextend/x64/Debug/
tpmutils/import/x64/Debug/
tpmutils/importpem/x64/Debug/
tpmutils/load/x64/Debug/
tpmutils/loadexternal/x64/Debug/
tpmutils/makecredential/x64/Debug/
tpmutils/nvcertify/x64/Debug/
tpmutils/nvchangeauth/x64/Debug/
tpmutils/nvdefinespace/x64/Debug/
tpmutils/nvextend/x64/Debug/
tpmutils/nvglobalwritelock/x64/Debug/
tpmutils/nvincrement/x64/Debug/
tpmutils/nvread/x64/Debug/
tpmutils/nvreadlock/x64/Debug/
tpmutils/nvreadpublic/x64/Debug/
tpmutils/nvsetbits/x64/Debug/
tpmutils/nvundefinespace/x64/Debug/
tpmutils/nvundefinespacespecial/x64/Debug/
tpmutils/nvwrite/x64/Debug/
tpmutils/nvwritelock/x64/Debug/
tpmutils/objectchangeauth/x64/Debug/
tpmutils/pcrallocate/x64/Debug/
tpmutils/pcrevent/x64/Debug/
tpmutils/pcrextend/x64/Debug/
tpmutils/pcrread/x64/Debug/
tpmutils/pcrreset/x64/Debug/
tpmutils/policyauthorize/x64/Debug/
tpmutils/policyauthorizenv/x64/Debug/
tpmutils/policyauthvalue/x64/Debug/
tpmutils/policycommandcode/x64/Debug/
tpmutils/policycountertimer/x64/Debug/
tpmutils/policycphash/x64/Debug/
tpmutils/policyduplicationselect/x64/Debug/
tpmutils/policygetdigest/x64/Debug/
tpmutils/policymaker/x64/Debug/
tpmutils/policymakerpcr/x64/Debug/
tpmutils/policynamehash/x64/Debug/
tpmutils/policynv/x64/Debug/
tpmutils/policynvwritten/x64/Debug/
tpmutils/policyor/x64/Debug/
tpmutils/policypassword/x64/Debug/
tpmutils/policypcr/x64/Debug/
tpmutils/policyrestart/x64/Debug/
tpmutils/policysecret/x64/Debug/
tpmutils/policysigned/x64/Debug/
tpmutils/policytemplate/x64/Debug/
tpmutils/policyticket/x64/Debug/
tpmutils/powerup/x64/Debug/
tpmutils/printattr/x64/Debug/
tpmutils/publicname/x64/Debug/
tpmutils/quote/x64/Debug/
tpmutils/readclock/x64/Debug/
tpmutils/readpublic/x64/Debug/
tpmutils/returncode/x64/Debug/
tpmutils/rewrap/x64/Debug/
tpmutils/rsadecrypt/x64/Debug/
tpmutils/rsaencrypt/x64/Debug/
tpmutils/sequencecomplete/x64/Debug/
tpmutils/sequenceupdate/x64/Debug/
tpmutils/setcommandcodeauditstatus/x64/Debug/
tpmutils/setprimarypolicy/x64/Debug/
tpmutils/shutdown/x64/Debug/
tpmutils/sign/x64/Debug/
tpmutils/signapp/x64/Debug/
tpmutils/startauthsession/x64/Debug/
tpmutils/startup/x64/Debug/
tpmutils/stirrandom/x64/Debug/
tpmutils/timepacket/x64/Debug/
tpmutils/tpm2pem/x64/Debug/
tpmutils/tpmcmd/x64/Debug/
tpmutils/tpmproxy/x64/Debug/
tpmutils/tpmpublic2eccpoint/x64/Debug/
tpmutils/tss/x64/Debug/
tpmutils/unseal/x64/Debug/
tpmutils/verifysignature/x64/Debug/
tpmutils/writeapp/x64/Debug/
tpmutils/zgen2phase/x64/Debug/

tpmutils/x64/Release/
tpmutils/activatecredential/x64/Release/
tpmutils/certify/x64/Release/
tpmutils/certifycreation/x64/Release/
tpmutils/certifyx509/x64/Release/
tpmutils/changeeps/x64/Release/
tpmutils/changepps/x64/Release/
tpmutils/clear/x64/Release/
tpmutils/clearcontrol/x64/Release/
tpmutils/clockrateadjust/x64/Release/
tpmutils/clockset/x64/Release/
tpmutils/commit/x64/Release/
tpmutils/contextload/x64/Release/
tpmutils/contextsave/x64/Release/
tpmutils/create/x64/Release/
tpmutils/createek/x64/Release/
tpmutils/createekcert/x64/Release/
tpmutils/createloaded/x64/Release/
tpmutils/createprimary/x64/Release/
tpmutils/dictionaryattacklockreset/x64/Release/
tpmutils/dictionaryattackparameters/x64/Release/
tpmutils/duplicate/x64/Release/
tpmutils/eccparameters/x64/Release/
tpmutils/ecephemeral/x64/Release/
tpmutils/encryptdecrypt/x64/Release/
tpmutils/eventextend/x64/Release/
tpmutils/eventsequencecomplete/x64/Release/
tpmutils/evictcontrol/x64/Release/
tpmutils/flushcontext/x64/Release/
tpmutils/getcapability/x64/Release/
tpmutils/getcommandauditdigest/x64/Release/
tpmutils/getcryptolibrary/x64/Release/
tpmutils/getrandom/x64/Release/
tpmutils/getsessionauditdigest/x64/Release/
tpmutils/gettestresult/x64/Release/
tpmutils/gettime/x64/Release/
tpmutils/hash/x64/Release/
tpmutils/hashsequencestart/x64/Release/
tpmutils/hierarchychangeauth/x64/Release/
tpmutils/hierarchycontrol/x64/Release/
tpmutils/hmac/x64/Release/
tpmutils/hmacstart/x64/Release/
tpmutils/imaextend/x64/Release/
tpmutils/import/x64/Release/
tpmutils/importpem/x64/Release/
tpmutils/load/x64/Release/
tpmutils/loadexternal/x64/Release/
tpmutils/makecredential/x64/Release/
tpmutils/nvcertify/x64/Release/
tpmutils/nvchangeauth/x64/Release/
tpmutils/nvdefinespace/x64/Release/
tpmutils/nvextend/x64/Release/
tpmutils/nvglobalwritelock/x64/Release/
tpmutils/nvincrement/x64/Release/
tpmutils/nvread/x64/Release/
tpmutils/nvreadlock/x64/Release/
tpmutils/nvreadpublic/x64/Release/
tpmutils/nvsetbits/x64/Release/
tpmutils/nvundefinespace/x64/Release/
tpmutils/nvundefinespacespecial/x64/Release/
tpmutils/nvwrite/x64/Release/
tpmutils/nvwritelock/x64/Release/
tpmutils/objectchangeauth/x64/Release/
tpmutils/pcrallocate/x64/Release/
tpmutils/pcrevent/x64/Release/
tpmutils/pcrextend/x64/Release/
tpmutils/pcrread/x64/Release/
tpmutils/pcrreset/x64/Release/
tpmutils/policyauthorize/x64/Release/
tpmutils/policyauthorizenv/x64/Release/
tpmutils/policyauthvalue/x64/Release/
tpmutils/policycommandcode/x64/Release/
tpmutils/policycountertimer/x64/Release/
tpmutils/policycphash/x64/Release/
tpmutils/policyduplicationselect/x64/Release/
tpmutils/policygetdigest/x64/Release/
tpmutils/policymaker/x64/Release/
tpmutils/policymakerpcr/x64/Release/
tpmutils/policynamehash/x64/Release/
tpmutils/policynv/x64/Release/
tpmutils/policynvwritten/x64/Release/
tpmutils/policyor/x64/Release/
tpmutils/policypassword/x64/Release/
tpmutils/policypcr/x64/Release/
tpmutils/policyrestart/x64/Release/
tpmutils/policysecret/x64/Release/
tpmutils/policysigned/x64/Release/
tpmutils/policytemplate/x64/Release/
tpmutils/policyticket/x64/Release/
tpmutils/powerup/x64/Release/
tpmutils/printattr/x64/Release/
tpmutils/publicname/x64/Release/
tpmutils/quote/x64/Release/
tpmutils/readclock/x64/Release/
tpmutils/readpublic/x64/Release/
tpmutils/returncode/x64/Release/
tpmutils/rewrap/x64/Release/
tpmutils/rsadecrypt/x64/Release/
tpmutils/rsaencrypt/x64/Release/
tpmutils/sequencecomplete/x64/Release/
tpmutils/sequenceupdate/x64/Release/
tpmutils/setcommandcodeauditstatus/x64/Release/
tpmutils/setprimarypolicy/x64/Release/
tpmutils/shutdown/x64/Release/
tpmutils/sign/x64/Release/
tpmutils/signapp/x64/Release/
tpmutils/startauthsession/x64/Release/
tpmutils/startup/x64/Release/
tpmutils/stirrandom/x64/Release/
tpmutils/timepacket/x64/Release/
tpmutils/tpm2pem/x64/Release/
tpmutils/tpmcmd/x64/Release/
tpmutils/tpmproxy/x64/Release/
tpmutils/tpmpublic2eccpoint/x64/Release/
tpmutils/tss/x64/Release/
tpmutils/unseal/x64/Release/
tpmutils/verifysignature/x64/Release/
tpmutils/writeapp/x64/Release/
tpmutils/zgen2phase/x64/Release/

.gitignore
tpmutils/.vs/
tpmutils/startup/startup.vcxproj.user
.vs
utils/*.o
utils/h*.bin
utils/nvp*.bin
utils/activatecredential
utils/certify
utils/certifycreation
utils/certifyx509
utils/changeeps
utils/changepps
utils/clear
utils/clearcontrol
utils/clockrateadjust
utils/clockset
utils/commit
utils/contextload
utils/contextsave
utils/create
utils/createek
utils/createekcert
utils/createloaded
utils/createprimary
utils/dictionaryattacklockreset
utils/dictionaryattackparameters
utils/duplicate
utils/eccparameters
utils/ecephemeral
utils/encryptdecrypt
utils/eventextend
utils/eventsequencecomplete
utils/evictcontrol
utils/flushcontext
utils/getcapability
utils/getcommandauditdigest
utils/getcryptolibrary
utils/getrandom
utils/getsessionauditdigest
utils/gettestresult
utils/gettime
utils/hash
utils/hashsequencestart
utils/hierarchychangeauth
utils/hierarchycontrol
utils/hmac
utils/hmacstart
utils/imaextend
utils/import
utils/importpem
utils/load
utils/loadexternal
utils/makecredential
utils/ntc2getconfig
utils/ntc2lockconfig
utils/ntc2preconfig
utils/nvcertify
utils/nvchangeauth
utils/nvdefinespace
utils/nvextend
utils/nvglobalwritelock
utils/nvincrement
utils/nvread
utils/nvreadlock
utils/nvreadpublic
utils/nvsetbits
utils/nvundefinespace
utils/nvundefinespacespecial
utils/nvwrite
utils/nvwritelock
utils/objectchangeauth
utils/pcrallocate
utils/pcrevent
utils/pcrextend
utils/pcrread
utils/pcrreset
utils/policyauthorize
utils/policyauthorizenv
utils/policyauthvalue
utils/policycommandcode
utils/policycountertimer
utils/policycphash
utils/policyduplicationselect
utils/policygetdigest
utils/policymaker
utils/policymakerpcr
utils/policynamehash
utils/policynv
utils/policynvwritten
utils/policyor
utils/policypassword
utils/policypcr
utils/policyrestart
utils/policysecret
utils/policysigned
utils/policytemplate
utils/policyticket
utils/powerup
utils/printattr
utils/publicname
utils/quote
utils/readclock
utils/readpublic
utils/returncode
utils/rewrap
utils/rsadecrypt
utils/rsaencrypt
utils/sequencecomplete
utils/sequenceupdate
utils/setcommandcodeauditstatus
utils/setprimarypolicy
utils/shutdown
utils/sign
utils/signapp
utils/startauthsession
utils/startup
utils/stirrandom
utils/timepacket
utils/tpmcmd
utils/tpm2pem
utils/tpmpublic2eccpoint
utils/unseal
utils/verifysignature
utils/writeapp
utils/zgen2phase
utils/libibmtss.so*
utils/libibmtssutils.so*
utils12/activateidentity
utils12/createekcert
utils12/createendorsementkeypair
utils12/createwrapkey
utils12/eventextend
utils12/extend
utils12/flushspecific
utils12/getcapability
utils12/imaextend
utils12/loadkey2
utils12/makeekblob
utils12/makeidentity
utils12/nvdefinespace
utils12/nvreadvalue
utils12/nvreadvalueauth
utils12/nvwritevalue
utils12/nvwritevalueauth
utils12/oiap
utils12/osap
utils12/ownerreadinternalpub
utils12/ownersetdisable
utils12/pcrread
utils12/quote2
utils12/sign
utils12/startup
utils12/takeownership
utils12/tpminit
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
utils/.dirstamp
utils/.deps/
utils/Makefile
utils/Makefile.in
utils12/.deps/
utils12/Makefile
utils12/Makefile.in
utils/libibmtss.la
utils/libibmtssutils.la
utils/libibmtss_la-*
utils/libibmtssutils_la*
utils12/libibmtssutils12.la
utils12/libibmtssutils12_la*
utils12/libibmtssutils12.so*
utils/.libs/
utils12/.libs/
