/* $Id: demo.css 900 2017-01-06 19:25:47Z kgoldman $: */

#header {
    background-color:#1d6ab2;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:400px;
    width:150px;
    float:left;
    padding:5px;	      
}
#section {
    width:850px;
    float:left; 
    padding:10px;	 	 
}
#footer {
    background-color:#1d6ab2;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
